*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    height: 150vh;
    width: 100vw;
    overflow-x: hidden;
    cursor: text;
}

.listBase{
    height: fit-content;
    width: fit-content;
    color: rgb(15, 173, 15);
}
li{
    display: flex;
}


.textLine{
    height: 100%;
    width: 40rem;

    outline: none;
    border: none;
    background-color: #000;
    color: rgb(15, 173, 15);
}

.textBlock{
    color: rgb(180, 189, 53);
}
.redWarning{
    color: rgb(206, 48, 48);
}



/* BOARD */
i{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .label {
    font-weight: bold;
    margin: 1rem 0;
  }
  
  #userCode {
    padding: 1rem;
    background-color: #fff;
    border: none;
    color: rgb(207, 138, 33);
    font-size: 1.4rem;
    width: 19rem;
    height: 100vh;
    resize: none;
    height: 100%;
    outline: none;

    z-index: 1000;
  }
  
  .textAreaDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  
    z-index: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .firstLi{
    display: flex;
    flex-direction: column;
    color: greenyellow;
    width: 100%;
    justify-content: start;
  }
  .secondLi{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    color: greenyellow;
    width: 100%;
    justify-content: start;
  }
  
  li{
    padding-right: 2vw;
  }
  
  #boardDiv{
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: fit-content;
  }
  
  #launchScript {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    margin: 0.625rem 0;
    padding: 0.625rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  #board {
    margin-top: 1rem;
    display: inline-block;
    background-color: black;
    border: 1px solid black;
    
  }
  
  .cellRow {
    display: flex;
  }
  
  
  .cell {
    background-color: #000;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    margin: 1px;
    border: 1px solid #fff;
  }
  
  .cellStart {
    background-color: green;
  }
  .cellEnd {
    background-color: blue;
  }
  
  
  .cellCurrent{
    color: red;
    font-style: none !important;

  }
  
  /*bordures*/
  .cellMurTop{
    border-top: 3px solid #fff;
  }
  .cellMurRight{
    border-right: 3px solid #fff;
  }
  .cellMurBottom{
    border-bottom: 3px solid #fff;
  }
  .cellMurLeft{
    border-left: 3px solid #fff;
  }
  /*bordures*/

  .blueLine{
    color: rgb(41, 225, 87);
  }